{% extends 'a_layout.html' %}
{% block content %}

<div class="table-responsive" id="sailorTableArea">
    <table id="sailorTable" class="table table-striped table-bordered" width="100%">
 
        <thead>
            <tr>
                <th>CUSTOMER NAME</th>
                <th>EMAIL</th>
                <th>MOBILE</th>
                <th>POLICY NAME</th>
                <th>AMOUNT</th>
                <th>DURATION</th>
                <th>AGENT CODE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tiger</td>
                <td>Nimitha.fabstudioz@gmail.com</td>
                <td>9874563210</td>
                <td>KELAVi</td>
                <td>61000</td>
                <td>2011/04/25</td>
                <td>112</td>
             
            </tr>
        </tbody>
    </table>
    </div>
    {% endblock %}