{% extends "admin_layout.html" %}
{% block content %}
<div class="xs">
		<h3>ADD NEW GROUP</h3>
		<div class="well1 white">
	  <form class="form-floating ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-url ng-valid-pattern" novalidate="novalidate" ng-submit="submit()">
		<fieldset>
		  <div class="form-group">
			 <label class="control-label">GROUP NAME</label>
			 <input type="text" class="form-control1 ng-invalid ng-invalid-required ng-touched" ng-model="model.name" required="">
		  </div>
		     <div class="form-group">
			     <button type="submit" class="btn btn-primary">SAVE</button>
			     <button type="reset" class="btn btn-default">RESET</button>
		     </div>
		</fieldset>
	  </form>
	</div>
  </div>
{% endblock %}